name: Deploy static build.zip to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4071D604EE59435F854CF7ECC4768781 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_916BFC7E94794D2D8C9C3F38CF26C94C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3033CA756B40464083CBB30C8CCAF780 }}

      - name: Deploy build.zip to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: webapptemp
          slot-name: Production
          package: build.zip
